img {
    width: 595px;
    margin-top: 0 auto;
}

div {
    display: flex;
    text-align: center;
    justify-content: center;
}

strong {
    font-size: 96px;
    justify-content: center;
    text-align: center;
}

b {
    font-size: 26px;
}

p, li{
    font-size: 22px;
}

button {
    margin-bottom: 30px;
    margin-top: 30px;
}

label {
    font-size: 18px;
    width: 100%;
    font-weight: bold;
}

input {
    width: 280px;
    height: 60px;
    border: 1px solid #000; 
    border-radius: 15px;
}

table {
    display: grid;
    width: 100%;
}

td {
    width: 800px;
    text-align: center;
}

tr {
    margin: auto;
}

.resp {
    font-size: 20px
}