img {
    margin-left: auto;
    height: 200px;
    width: 300px;
}

strong {
    margin-top: 20px;
    margin-left: 10px;
    color: #1a3fff;
}

h4 {
    margin-top: 0px;
    margin-left: 10px;
}

p {
    text-align: right;
}
