img {
    width: 595px;
    margin-top: 0 auto;
}

div {
    display: flex;
    text-align: center;
    justify-content: center;
}

strong {
    font-size: 96px;
    justify-content: center;
    text-align: center;
}

p{
    font-size: 36px;
}

button {
    margin-bottom: 30px;
}