<div>
    <div>
        <table>
            <tr>
                <td>
                    <strong>Meu App</strong>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Clique abaixo para acessar os exercícios</p>
                </td>
            </tr>
            <tr>
                <td>
                    <button (click)='gotoArrayEx()'>Exercícios de Array</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button (click)='gotoFrontEndEx()'>Exercício de Front-End</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button (click)='gotoLogicEx()'>Exercicío de Lógica</button>
                </td>
            </tr>
        </table>
        <div>
            <img src='../../../assets/conceptual.svg'>
        </div>
    </div>
</div>